.dark-button {
  background-color: #2e355a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  marigin top: 10px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dark-button:hover {
  background-color: #f67d05;
}

.dark-buttonpurpule {
  background-color: #2e355a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  marigin top: 10px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dark-buttonpurpule:hover {
  background-color: #58036f;
}

